

#tic-tac-toe-game-board {
    width: 465px;
    height: 465px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#tic-tac-toe-game-board > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 155px;
    height: 155px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tic-tac-toe-game-board > li.x {
    font-size: 40px;
    color: #ed4e6e
}

#tic-tac-toe-game-board > li.o {
    font-size: 40px;
    color: #485b6e;
}

#tic-tac-toe-game-board > li:hover {
    background: #f9f9f9;
}

#tic-tac-toe-game-board > li:active {
    width: 155px;
    height: 155px;
    border: 0;
}


#nfo {
    text-align:center;
    margin-top: 10px;
}

#reset-game {
    text-align: center;
    border: none;
    padding: 0.6em 1.2em;
    background: #ed4e6e;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
}

#reset-game:hover {
    background: #2c3e52;
}

.card {
	width: 100%;
	background-color: #eeeeee;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 16px 16px;
}

.game-button:hover {
    box-shadow: 0 5px 5px 0 #82e1ff;
    transition: 0.3s;
}

.game-card-holders {
	overflow-y: scroll; 
	height: 500px;
	padding: 20px;
	border-color: #e5e5e5;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
}

.tic-tac-toe-holder {
  height: 500px;
  display: inline;
}

.center-input input {
	text-align: center;
}

@media (max-width: 600px){
  #tic-tac-toe-game-board {
    width: 300px;
    height: 300px;
  }

  #tic-tac-toe-game-board > li {
    width: 100px;
    height: 100px;
  }

  #tic-tac-toe-game-board > li:active {
    width: 100px;
    height: 100px;
    border: 0;
}
}